<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
</head>
<body>
    First Name: <%= fname %> <br>
    Middle Name: <%= mname %><br>
    Last Name: <%= lname %><br>
    College Name: <%= cname %><br>
    Sem: <%= sem %><br>
    Phone: <%= phone %><br>
    Email: <%= mail %><br>
    Username: <%= uname %><br>
    Password: <%= pwd %><br>
    
</body>
</html>